extends layout

block head
    link(rel='stylesheet', href='/stylesheets/apply.css')
    link(rel='stylesheet', href='/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css')

block content
    form.form-horizontal.application-form
        div.form-group
            label(for="depa").col-sm-2.control-label 用车部门
            div.col-sm-8
                select.form-control#depa
                    - for (var i = 0; i < depas.length; i++)
                        if depas[i].id ==session.depaId
                            option(depaId=depas[i].id, selected)= depas[i].name   
                        else
                            option(depaId=depas[i].id)= depas[i].name
        div.form-group
            label(for="renter").col-sm-2.control-label 用车人
            div.col-sm-8
                input(type="text", placeholder="用车人", readonly, renter="#{session.name}", value="#{session.realname}").form-control#renter
        div.form-group
            label(for="contact").col-sm-2.control-label 联系电话
            div.col-sm-8
                input(type="text", placeholder="联系电话", value="#{session.contact}").form-control#contact
        div.form-group
            label(for="headcount").col-sm-2.control-label 出行人数
            div.col-sm-8
                select().form-control#headcount
                    - for (var i = 0; i < 30; i++)
                        option= i+1
        div.form-group
            label.col-sm-2.control-label 用车时间
            div.col-sm-8.input-group.date#startTime
                input(type="text", readonly).form-control
                div.input-group-addon
                    span.glyphicon.glyphicon-calendar
        div.form-group
            label.col-sm-2.control-label 返回时间
            div.col-sm-8.input-group.date#endTime
                input(type="text", readonly).form-control
                div.input-group-addon
                    span.glyphicon.glyphicon-calendar
        div.form-group
            label.col-sm-2.control-label 工作内容
        each content in workingContent
            div.form-group
                label.col-sm-1.control-label
                div.checkbox.col-sm-8
                    label
                        input(type="checkbox", value=content)
                        span= content
        div.form-group
            label.col-sm-2.control-label 用车范围
        div.form-group
            label.col-sm-1.control-label
            div.radio.col-sm-8
                label
                    input(type="radio", name="scope", value="0")
                    span 市内
        fieldset(disabled).insideCity
            div.form-group
                label.col-sm-2.control-label 地点
                div.col-sm-8
                    input(type="text", placeholder="市内具体地址").form-control#internalAddr
        div.form-group
            label.col-sm-1.control-label
            div.radio.col-sm-8
                label
                    input(type="radio", name="scope", value="1")
                    span 市外
        fieldset(disabled).outsideCity
            div.form-group
                label.col-sm-2.control-label 地点
                div.col-sm-8
                    input(type="text", placeholder="市外具体地址").form-control#externalAddr
        - if (session.depaId == 8)
            div.form-group
                label.col-sm-2.control-label 车管员审核
            div.form-group
                label.col-sm-1.control-label
                label.radio-inline.col-sm-2
                    input(type="radio", name="adminApproval", value="0")
                    不同意
                label.radio-inline.col-sm-2
                    input(type="radio", name="adminApproval", value="1")
                    同意
            div.form-group
                label(for="rentedCar").col-sm-2.control-label 拟派车辆
                div.col-sm-8
                    input(type="text", placeholder="拟派车辆").form-control#rentedCar
            div.form-group
                label.col-sm-2.control-label 分管领导审批
            div.form-group
                label.col-sm-1.control-label
                label.radio-inline.col-sm-2
                    input(type="radio", name="leaderApproval", value="0")
                    不同意
                label.radio-inline.col-sm-2
                    input(type="radio", name="leaderApproval", value="1")
                    同意
        div.form-group
            label(for="remark").col-sm-2.control-label 备注信息
            div.col-sm-8
                input(type="text", placeholder="请填写备注信息").form-control#remark
        div.form-group
            label.col-sm-1.control-label
            button(type="button").btn.btn-primary 提交

            
block footer-content
    script(src='/javascripts/apply.js')
    script(src='/bower_components/moment/min/moment.min.js')
    script(src='/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js')
    script(src='/node_modules/dateformat/lib/dateformat.js')