extends layout

block head
    link(rel='stylesheet', href='/stylesheets/apply.css')
    link(rel='stylesheet', href='/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css')

block content
    form.form-horizontal.application-form
        div.form-group
            label(for="depa").col-sm-2.control-label 用车部门
            div.col-sm-8
                select(disabled=(mode=="view"||mode=="check"?true:false)).form-control#depa
                    - if (mode == "view"||mode=="check")
                        option(depaId=application["depa"], selected)= application["dname"]
                    - else
                       - for (var i = 0; i < depas.length; i++)
                           - if (depas[i].id ==session.depaId)
                                option(depaId=depas[i].id, selected)= depas[i].name   
                           - else
                                option(depaId=depas[i].id)= depas[i].name
        div.form-group
            label(for="renter").col-sm-2.control-label 用车人
            div.col-sm-8
                input(type="text", placeholder="用车人", readonly, renter=(mode=="apply"?session.name:application.renter), value=(mode=="apply"?session.realname:application.renterRealname)).form-control#renter
        div.form-group
            label(for="contact").col-sm-2.control-label 联系电话
            div.col-sm-8
                input(type="text", placeholder="联系电话", readonly=(mode=="view"||mode=="check"?true:false) value=(mode=="view"||mode=="check"?application.contact:session.contact)).form-control#contact
        div.form-group
            label(for="headcount").col-sm-2.control-label 出行人数
            div.col-sm-8
                select(disabled=(mode=="view"||mode=="check"?true:false)).form-control#headcount
                    - if (mode == "view"||mode=="check")
                        option= application.headcount
                    - else
                        - for (var i = 0; i < 30; i++)
                            option= i+1
        div.form-group
            label.col-sm-2.control-label 用车时间
            div.col-sm-8.input-group.date#startTime
                input(type="text", readonly, value=(mode=="view"||mode=="check"?application.startTime:"")).form-control
                - if (mode=="apply")
                    div.input-group-addon
                        span.glyphicon.glyphicon-calendar
        div.form-group
            label.col-sm-2.control-label 返回时间
            div.col-sm-8.input-group.date#endTime
                input(type="text", readonly, value=(mode=="view"||mode=="check"?application.endTime:"")).form-control
                - if (mode == "apply")
                    div.input-group-addon
                        span.glyphicon.glyphicon-calendar
        div.form-group
            label.col-sm-2.control-label 工作内容
        each content in workingContent
            div.form-group
                label.col-sm-1.control-label
                div.checkbox.col-sm-8
                    label
                        - if(mode=="view"||mode=="check")
                            input(type="checkbox", value="#{content.val}", key="#{content.key}",
                                checked=(application.workContent.indexOf(content.key)!=-1?true:false), disabled)
                        - else
                            input(type="checkbox", value="#{content.val}", key="#{content.key}")
                        span= content.val
        div.form-group
            label.col-sm-2.control-label 用车范围
        div.form-group
            label.col-sm-1.control-label
            div.radio.col-sm-8
                label
                    - if (mode == "view"||mode=="check")
                        input(type="radio", disabled, checked=(application.scope=="0"?true:false) name="scope", value="0")
                    - else
                        input(type="radio", name="scope", value="0")
                    span 市内
        fieldset(disabled).insideCity
            div.form-group
                label.col-sm-2.control-label 地点
                div.col-sm-8
                    - if (mode == "view"||mode=="check")
                        input(type="text", placeholder="市内具体地址", disabled, value=(application.scope=="0"?application.address:"")).form-control#internalAddr
                    - else 
                        input(type="text", placeholder="市内具体地址").form-control#internalAddr
        div.form-group
            label.col-sm-1.control-label
            div.radio.col-sm-8
                label
                    - if (mode == "view"||mode=="check")
                        input(type="radio", disabled, checked=(application.scope=="1"?true:false) name="scope", value="1")
                    - else 
                        input(type="radio", name="scope", value="1")
                    span 市外
        fieldset(disabled).outsideCity
            div.form-group
                label.col-sm-2.control-label 地点
                div.col-sm-8
                    - if (mode == "view"||mode=="check")
                        input(type="text", disabled, value=(application.scope=="1"?application.address:""), placeholder="市外具体地址").form-control#externalAddr
                    - else 
                        input(type="text", placeholder="市外具体地址").form-control#externalAddr
                        
        - if (mode == "check" && application.status === 0)
            div.form-group
                label.col-sm-2.control-label 车管员审核
            div.form-group
                label.col-sm-1.control-label
                label.radio-inline.col-sm-2
                    input(type="radio", name="adminApproval", value="0")
                    span 不同意
                label.radio-inline.col-sm-2
                    input(type="radio", name="adminApproval", value="1")
                    span 同意
            div.form-group
                label(for="rentedCar", style="cursor: pointer;").col-sm-2.control-label.check-car-timetable 拟派车辆
                div.col-sm-8
                    select.form-control#rentedCar
                        - for (var i = 0; i < cars.length; i++)
                            option(carId=cars[i].id)= cars[i].name
            div.form-group
                label(for="adminCheckRemark").col-sm-2.control-label 审核意见
                div.col-sm-8
                    input(type="text", placeholder="请填写审核意见或备注").form-control#adminCheckRemark      
        - else if (mode == "check" && application.status === 1)
            div.form-group
                label.col-sm-2.control-label 分管领导审批
            div.form-group
                label.col-sm-1.control-label
                label.radio-inline.col-sm-2
                    input(type="radio", name="directorApproval", value="0")
                    span 不同意
                label.radio-inline.col-sm-2
                    input(type="radio", name="directorApproval", value="1")
                    span 同意
            div.form-group
                label(for="directorCheckRemark").col-sm-2.control-label 审核意见
                div.col-sm-8
                    input(type="text", placeholder="请填写审核意见或备注").form-control#directorCheckRemark

        div.form-group
            label(for="remark").col-sm-2.control-label 备注信息
            div.col-sm-8
                input(type="text", placeholder="请填写备注信息", value=(mode=="view"||mode=="check"?application.remark:""), disabled=(mode=="view"||mode=="check"?true:false)).form-control#remark
        - if (mode == "apply")
            div.form-group
                label.col-sm-1.control-label
                button(type="button").applySubmit.btn.btn-primary 提交
        - else if (mode == "check" && application.status === 0)
            div.form-group
                label.col-sm-1.control-label
                button(type="button", applicationId=application.id).adminCheck.btn.btn-primary 审核
        - else if (mode == "check" && application.status === 1)
            div.form-group
                label.col-sm-1.control-label
                button(type="button", applicationId=application.id).directorCheck.btn.btn-primary 审核

        - if (application_recs)
            table.table.table-hover
                thead
                    tr
                        th 审核人
                        th 原状态
                        th 新状态
                        th 备注信息
                        th 审核时间
                each rec in application_recs
                    tbody
                        tr(class=(rec.drt=="+1"?"success":(rec.drt=="-1"?"danger":"")))
                            td #{rec.checkerRealname}
                            td #{rec.originalStatusRealname}
                            td #{rec.newStatusRealname}
                            td #{rec.remark}
                            td #{rec.createTime}


        
        div(tabIndex="-1", role="dialog", aria-labelledby="timetabletitle").modal.fade.cartimetable
            div(role="document").modal-dialog
                div.modal-content
                    div.modal-header
                        button(type="button", data-dismiss="modal", aria-label="Close").close
                            span(aria-hidden="true") &times;
                        h4.modal-title#timetabletitle 公车租赁时刻表
                    div.modal-body
                        div.row
                            div.col-md-4 借车人
                            div.col-md-4 开始时间
                            div.col-md-4 结束时间
                    div.modal-footer
                        button(type="button", data-dismiss="modal").btn.btn-default 关闭

block footer-content
    script(src='/javascripts/apply.js')
    script(src='/bower_components/moment/min/moment.min.js')
    script(src='/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js')
    script(src='/node_modules/dateformat/lib/dateformat.js')