extends layout

block content
    table.table.table-hover
        thead
            tr
                th 用车部门
                th 租用人员
                th 用车时间
                th 返回时间
                th 用车范围
                th 详细地点
                th 出行人数
                th 联系电话
                th 创建时间
                th 申请状态
        each rec in recs
            tbody
                tr.info
                    td #{rec.dname}
                    td #{rec.renterRealname}
                    td #{rec.startTime}
                    td #{rec.endTime}
                    td #{rec.scopeRealname}
                    td #{rec.address}
                    td #{rec.headcount}
                    td #{rec.contact}
                    td #{rec.createTime}
                    td #{rec.status}