extends layout

block content
    table.table.table-hover
        thead
            tr
                th 序号
                th 车牌号码
                th 车辆类型
                th 所属部门
                th 厂牌类型
                th 座位数
                th 车辆使用状态
                th 车辆申请时间
                th 申请人
                th 还车操作
        each car, index in cars
          tbody
              tr
                  td #{index+1}
                  td #{car.name}
                  td #{car.carType}
                  td #{car.dname}
                  td #{car.brand}
                  td #{car.seats}
                  td #{car.statusRealname}
                  td= car.application ? car.application[0].createTime : ''
                  td= car.application ? car.application[0].renterRealname : ''
                  td
                    - if (car.returnBtn)
                        button(type="button").btn.btn-info.btn-xs 还车

block footer-content
  script(src='/javascripts/ie10-viewport-bug-workaround.js')
  script(src='/javascripts/index.js')